* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #202124;
}

html, body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}
